{% extends 'my_portfolio/base.html' %}

{% load static %}

{% block title %}My Portfolio {% endblock title %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Shokir Begbotov</h1>
      <p>I'm <span class="typed" data-typed-items="Web Developer, Python Programmer, working with Django Framework"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Python dasturlash tili, Django web framework, Rest API , Sqlite3 va Postgre SQL, RabbitMQ , Celery , Deployment imkoniyatlaridan foydalanib web saytlar yaratib kelaman.
          1+ yildan buyon dasturlash bilan muntazam shug'ulannib kelaman va bir necha loyihalar ustida ishlaganman.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/me.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Python Programmer &amp; Web Developer.</h3>
            <p class="fst-italic">
              O'zim haqimda umumiy ma'lumot ...
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>1 Feb 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.shokir.uz</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>90 152-47-07</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Gulistan, Uzbekistan</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>25</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor (TUIT)</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>begbotovshake@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Men Sirdaryo viloyatida 1998 yilda tug'ilganman. Toshkent Axborot Texnologiyalari Universitetida 2017-2021 yillarda o'qiganman. Hozirda
              'UNICON-SOFT' MCHJ da ishliman va ishdan tashqari loyihlar bilan ishlab kelaman.
             </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Web loyihalar yaratishda men loyihaga qarab ko'plab texnologiyalardan foydalanib kelaman.
          Quyida qaysi texnologiyalardan foydalanishim va qay darajada bu texnologiyalardan bilimga ega
          ekanligim haqida ma'lumot beraman.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            {% for skill in skills %}
              <div class="progress">
                <span class="skill">{{ skill.skill_name }} <i class="val">{{ skill.skill_degree}}%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ skill.skill_degree}}" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            {% endfor %}

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bakalavr Darajasi</h4>
              <h5>2017 - 2021</h5>
              <p><em>Toshkent Axborot Texnologiyalari Universiteti (TATU)</em></p>
              <p> Toshkent axborot texnologiyalari universiteti Kompyuter injiniringi fakultetini tamomlaganman.</p>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Python, Django Mentor</h4>
              <h5>2021</h5>
              <p><em>Be Pro IT Academy</em></p>
              <ul>
                <li>Test asosida Sirdaryo viloyatidan tanlab olinganman.</li>
                <li>Viloyatdan saralangan informatika oq'ituvchilariga mentorlik qilganman. </li>
                <li>Har bir o'qitgan shogirdlarim yakuniy loyiha bilan bitirishgan.</li>
                <li>Har bir bitiruvchi sertifikat olishga erishgan.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Worker and Freelancer</h4>
              <h5>2022 - Hozir</h5>
              <p><em>UNICON-SOFT</em></p>
              <ul>
                <li>Guliston shahar Uztelecom bo'limiga buyurtma asosida <a href="https://amtc.uz">web application</a> </li>
                <li>Sirdaryo viloyat Raqamli texnologiyalar boshqarmasiga web sayt</li>
                <li>Guliston shahar Uchrashuv kafe uchun <a href="https://github.com/Shokir-developer/uchrashuv_cafe">sayt</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Shu vaqtgacha kichik loyihalar ustida nustaqil tarzda ishlab kelaman. Qilgan loyihalarim kichik buyurtmalar asosiga qurilgan.
          Sirdaryo viloyat Uztelecomning Atc bolimi mutahasisi buyurtmasiga asosan web application yaratganman. Raqamli texnologiylar vazirligining
          Sirdaryo viloyat boshqarmasi talabiga binoan boshqarma uchun web sayt va shuningdek Guliston shaharda joylashgan Uchrashuv Cafe
          uchun ham web sayt yaratib berganman.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">
          {% for port in portfolio %}
              <div class="col-lg-4 col-md-6 portfolio-item filter-{{ port.type }}">
                <div class="portfolio-wrap">
                  <img src="{{ port.image.url }}" class="img-fluid" alt="">
                  <div class="portfolio-links">
                    <a href="{{ port.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{ port.description }}"><i class="bx bx-plus"></i></a>
                    <a href="{{ port.link }}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Agar sizda quyidagi kabi xizmatlarga ehtiyoj bolsa, bizga murojaat qilishingiz mumkin. Sizga eng so'nggi texnologiyalardan
          foydalanib xizmat ko'rsatamiz.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="">Landing Page</a></h4>
            <p class="description">Shaxsiy yoki tashkilotlar uchun Landing Page saytlar</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="">E-commerce</a></h4>
            <p class="description">Online savdo uchun E-commerce web saytlar.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="title"><a href="">Create API</a></h4>
            <p class="description">Rest Framewor orqali API yaratib berish. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="title"><a href="">Database</a></h4>
            <p class="description">PostgreSql orqali database yaratib berish.</p>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Guliston sh. Navoiy ko'chasi 108</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>begbotovshake@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>90 152-47-07</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1517.0284843518195!2d68.7824748904342!3d40.496123279568835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b207c6112cc173%3A0x2433786b46856950!2z0JHQkNCg0JrQkNCc0J7QmyDQkNCS0JvQntCUINCc0JDQoNCa0JDQl9CY!5e0!3m2!1sru!2s!4v1675687750431!5m2!1sru!2s" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form method="POST">
              {% csrf_token %}
              {{ form }}
              <button class="btn btn-success mt-5" type="text">Send message</button>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  <script src="{% static 'assets/js/main.js' %}"></script>
 {% endblock content %}